<!DOCTYPE html>
<html ng-app>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.10/angular-animate.min.js"></script>
    <script src="imageTest.js"></script>

    <title>Image switch using Angular</title>
</head>
<body>
<div ng-controller="CardController">

    <!-- <select ng-model="selection" ng-options="item for item in card"></select> -->
    <br />
    <button ng-click="cardPick = cardPick - 1" ng-disabled="cardPick < 1">Decrement</button>
    <button ng-click="cardPick = cardPick + 1" ng-disabled="cardPick > 50" >Increment</button>

    <p>The current selection is currently: {{selection}}</p>
    <p>The current cardPick  is {{cardPick}}</p>
    <p>The current card is {{card[cardPick]}}</p>

<img ng-src="img/{{selection}}.jpg" width="125" height="auto" />
</div>

</body>
</html>