<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="magic">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Jim's Card Trick</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body ng-controller="TrickController as trick">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Jim's Card Trick</a>
            </div>
            <div class="navbar-collapse collapse">

            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-xs-6 col-md-4 col-md-offset-4">
                <!-- page template
                <div ng-show="trick.page === [PAGE ID HERE]">
                    <h1>Title</h1>
                    content
                    content
                    content
                    content
                    content
                </div>
-->

                <!-- start page -->
                <div ng-show="trick.page === 1">
                    <h1>Do you have your own deck of cards?</h1>
                    <div class="btn-group">
                        <button class="btn btn-primary" ng-click="trick.page = 11">
                            Yes
                        </button>
                        <button class="btn btn-primary" ng-click="trick.reset()">
                            No
                        </button>
                    </div>

                </div>
                <!-- Deck 1 page -->
                <div ng-show="trick.page === 11">
                    <h1>Time to Shuffle</h1>
                    <p>Shuffle your deck of cards</p>
                    <button class="btn btn-primary" ng-click="trick.page = 12">
                        next
                    </button>
                </div>
                <!-- Deck 2 page -->
                <div ng-show="trick.page === 12">
                    <h1>Cut the Deck</h1>
                    <p>Cut the deck roughly in half. It does not have to be perfect, but it should be close. Keep the two halves separate for now.</p>
                    <button class="btn btn-primary" ng-click="trick.page = 13">
                        next
                    </button>
                </div>
                <!-- Deck 3 page -->
                <div ng-show="trick.page === 13">
                    <h1>Count How Many</h1>
                    <p>With the stack you have chosen remaining face down, count the number of cards and make a note of the number.</p>
                    <button class="btn btn-primary" ng-click="trick.page = 14">
                        next
                    </button>
                </div>
                <!-- Deck 4 page -->
                <div ng-show="trick.page === 14">
                    <h1>Add Them Up</h1>
                    <p>Add the digits in the answer together arriving at a smaller number.</p>
                    <button class="btn btn-primary" ng-click="trick.page = 15">
                        next
                    </button>
                </div>
                <!-- Deck 5 page -->
                <div ng-show="trick.page === 15">
                    <h1>Your Card Revealed</h1>
                    <p>From here forward, avoid rearranging the cards. Turn the deck half we're working with face up and count to the card positioned at your answer to the last step. Memorize the card.</p>
                    <button class="btn btn-primary" ng-click="trick.page = 16">
                        next
                    </button>
                </div>
                <!-- Deck 6 page -->
                <div ng-show="trick.page === 16">
                    <h1>Putting it all together</h1>
                    <p>Being sure to keep the cards in the order they were in at the start of the last step, place this pack of cards face down on top of the rest of the deck.</p>
                    <button class="btn btn-primary" ng-click="trick.page = 17">
                        next
                    </button>
                </div>
                <!-- Deck 7 page -->
                <div ng-show="trick.page === 17">
                    <h1>And your card is...</h1>
                    <p>Starting from the back of the deck turn one card at a time face up and let me know what you see for value and suit.</p>
                    <div style="text-align:center">
                        <button class="btn btn-primary" ng-click="trick.deckButton()" ng-disabled="trick.deckButtonDisable">
                            Next card...
                        </button>
                        <br />
                        <button class="btn btn-success" ng-click="trick.reset()" ng-show="trick.deckButtonDisable">
                            Back to the beginning
                        </button>
                    </div>

                </div>

                <!-- Comp 1 page -->
                <div ng-show="trick.page === 21">
                    <h1>Time to Shuffle</h1>
                    <div style="text-align:center">
                        <button class="btn btn-primary" ng-click="trick.shuffle()" ng-disabled="trick.shuffleDone == true">
                            Shuffle the deck
                        </button>
                        <br />
                        <button class="btn btn-success" ng-show="trick.shuffleDone == true" ng-click="trick.page = 22">
                            Continue
                        </button>
                    </div>
                </div>
                <!-- Comp 2 page -->
                <div ng-show="trick.page === 22">
                    <h1>Cut the Deck</h1>
                    <div style="text-align:center">
                        <figure>
                            <img ng-src="{{trick.shuffled[trick.cutPick].source}}" style="width:auto;height:150px" alt="{{trick.shuffled[trick.cutPick].id}}">
                        </figure>
                        <br />
                        <div class="btn-group">
                            <button class="btn btn-primary" ng-click="trick.cutPick = trick.cutPick - 1" ng-disabled="trick.cutPick < 23" ng-hide="trick.cutDone">Less</button>
                            <button class="btn btn-warning" ng-click="trick.cutConfirm()" ng-disabled="trick.cutDone">Confirm</button>
                            <button class="btn btn-primary" ng-click="trick.cutPick = trick.cutPick + 1" ng-disabled="trick.cutPick > 28" ng-hide="trick.cutDone">More</button>
                        </div>
                        <br />
                        <button class="btn btn-success" ng-show="trick.cutDone" ng-click="trick.page = 23">
                            Proceed
                        </button>
                    </div>
                </div>
                <!-- Comp 3 page -->
                <div ng-show="trick.page === 23">
                    <h1>Your Card Revealed</h1>
                    <p>You cut the deck with {{trick.cutPick}} cards in the top section. When we add the digits, we get {{trick.digitOne}} + {{trick.digitTwo}} = {{trick.magicNum}}. Going {{trick.magicNum}} cards into the top section from the cut gives us this card:</p>
                    <div style="text-align:center">
                        <figure>
                            <img ng-src="{{trick.shuffled[trick.deckPosition - (trick.magicNum+1)].source}}" style="width:auto;height:150px" alt="{{trick.shuffled[trick.deckPosition - (trick.magicNum+1)].id}}">
                            <figcaption>{{trick.shuffled[trick.deckPosition - (trick.magicNum+1)].name}}</figcaption>
                        </figure>
                        <button class="btn btn-success" ng-click="trick.lastPage()">
                            Next
                        </button>
                    </div>
                </div>
                <!-- Comp 4 page -->
                <div ng-show="trick.page === 24">
                    <h1>And your card is...</h1>
                    <div style="text-align:center">
                        <figure>
                            <img ng-src="{{trick.shuffled[trick.deckPosition].source}}" style="width:auto;height:150px" alt="{{trick.shuffled[trick.deckPosition].id}}">
                            <figcaption ng-show="trick.deckPosition == 18">Your card: The {{trick.shuffled[trick.deckPosition].name}}</figcaption>
                        </figure>
                        <button class="btn btn-primary" ng-click="trick.deckPosition = trick.deckPosition + 1" ng-hide="trick.deckPosition > 16">Next Card
                            </button>
                        <div class="btn-group" ng-show="trick.deckPosition > 16">
                            <button class="btn btn-success" ng-click="trick.reset()" >
                                Again?
                            </button>
                            <button class="btn btn-primary" ng-click="trick.page = 25">
                                See the whole deck
                            </button>
                        </div>
                    </div>
                    
                </div>

                 
                <div ng-show="trick.page === 25">
                    <h1>Your Deck</h1>
                    <div style="text-align:center">
                    <img ng-src="{{trick.shuffled[trick.deckPosition].source}}" style="width:auto;height:150px" alt="{{trick.shuffled[trick.deckPosition].id}}">
                        <br />
                      <div class="btn-group">
                        <button class="btn btn-primary" ng-click="trick.deckPosition = trick.deckPosition - 1" ng-disabled="trick.deckPosition < 1">Prev Card
                            </button>
                          <button class="btn btn-primary" ng-click="trick.deckPosition = trick.deckPosition + 1" ng-disabled="trick.deckPosition > 50">Next Card
                            </button>
                          </div>
                        <br />
                        <button class="btn btn-success" ng-click="trick.reset()">
                            Back to the Start
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <hr>

        <footer>
            <p>&copy; John Allison 2014</p>
        </footer>
    </div>
    
    <!-- Preloads the images. Previous versions were laggy until the images were loaded. Hopefully this will help. -->
    <div id="imagePreload" style="display:none">
   <img src="img/SA.jpg" width="1" height="1" alt="Image">
   <img src="img/SK.jpg" width="1" height="1" alt="Image">
   <img src="img/SQ.jpg" width="1" height="1" alt="Image">
   <img src="img/SJ.jpg" width="1" height="1" alt="Image">
   <img src="img/S10.jpg" width="1" height="1" alt="Image">
   <img src="img/S9.jpg" width="1" height="1" alt="Image">
   <img src="img/S8.jpg" width="1" height="1" alt="Image">
   <img src="img/S7.jpg" width="1" height="1" alt="Image">
   <img src="img/S6.jpg" width="1" height="1" alt="Image">
   <img src="img/S5.jpg" width="1" height="1" alt="Image">
   <img src="img/S4.jpg" width="1" height="1" alt="Image">
   <img src="img/S3.jpg" width="1" height="1" alt="Image">
   <img src="img/S2.jpg" width="1" height="1" alt="Image">
   <img src="img/CA.jpg" width="1" height="1" alt="Image">
   <img src="img/CK.jpg" width="1" height="1" alt="Image">
   <img src="img/CQ.jpg" width="1" height="1" alt="Image">
   <img src="img/CJ.jpg" width="1" height="1" alt="Image">
   <img src="img/C10.jpg" width="1" height="1" alt="Image">
   <img src="img/C9.jpg" width="1" height="1" alt="Image">
   <img src="img/C8.jpg" width="1" height="1" alt="Image">
   <img src="img/C7.jpg" width="1" height="1" alt="Image">
   <img src="img/C6.jpg" width="1" height="1" alt="Image">
   <img src="img/C5.jpg" width="1" height="1" alt="Image">
   <img src="img/C4.jpg" width="1" height="1" alt="Image">
   <img src="img/C3.jpg" width="1" height="1" alt="Image">
   <img src="img/C2.jpg" width="1" height="1" alt="Image">
   <img src="img/DA.jpg" width="1" height="1" alt="Image">
   <img src="img/DK.jpg" width="1" height="1" alt="Image">
   <img src="img/DQ.jpg" width="1" height="1" alt="Image">
   <img src="img/DJ.jpg" width="1" height="1" alt="Image">
   <img src="img/D10.jpg" width="1" height="1" alt="Image">
   <img src="img/D9.jpg" width="1" height="1" alt="Image">
   <img src="img/D8.jpg" width="1" height="1" alt="Image">
   <img src="img/D7.jpg" width="1" height="1" alt="Image">
   <img src="img/D6.jpg" width="1" height="1" alt="Image">
   <img src="img/D5.jpg" width="1" height="1" alt="Image">
   <img src="img/D4.jpg" width="1" height="1" alt="Image">
   <img src="img/D3.jpg" width="1" height="1" alt="Image">
   <img src="img/D2.jpg" width="1" height="1" alt="Image">
   <img src="img/HA.jpg" width="1" height="1" alt="Image">
   <img src="img/HK.jpg" width="1" height="1" alt="Image">
   <img src="img/HQ.jpg" width="1" height="1" alt="Image">
   <img src="img/HJ.jpg" width="1" height="1" alt="Image">
   <img src="img/H10.jpg" width="1" height="1" alt="Image">
   <img src="img/H9.jpg" width="1" height="1" alt="Image">
   <img src="img/H8.jpg" width="1" height="1" alt="Image">
   <img src="img/H7.jpg" width="1" height="1" alt="Image">
   <img src="img/H6.jpg" width="1" height="1" alt="Image">
   <img src="img/H5.jpg" width="1" height="1" alt="Image">
   <img src="img/H4.jpg" width="1" height="1" alt="Image">
   <img src="img/H3.jpg" width="1" height="1" alt="Image">
   <img src="img/H2.jpg" width="1" height="1" alt="Image">
</div>
    
    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    </script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] = function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>
</body>

</html>
